@model VirtualWellnessProgram.Models.HealthInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HealthInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UniqueCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniqueCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smoker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smoker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyFatAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyFatAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hdl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hdl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ldl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ldl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CholesterolTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CholesterolTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Triglycerides)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Triglycerides)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
