@model IEnumerable<VirtualWellnessProgram.Models.CalorieAlert>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalorieGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaloriesConsumed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Read)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalorieGoal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaloriesConsumed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Read)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
