@model VirtualWellnessProgram.Models.ViewModels.CustomerAddExerciseViewModel
@{
    ViewBag.Title = "AddExercise";
}

<h2>Add Your Exercise Here</h2>
<hr/>
<h3>Explanation of the different types of exercise:</h3>
<h4>Moderate exercise classifies as brisk walking, swimming or mowing the lawn. </h4>
<h4>Vigorous exercise classifes as running or an exercise that makes your break a sweat.</h4>
<h4>Strength training is weight lifting. Only check the box if you did over 30 minutes of strength training.</h4>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.ModerateTraining, new {@class = "col-md-2 control-label"})
        <div class="col-md-12">
            @Html.TextBoxFor(m =>m.ModerateTraining, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.VigorousTraining, new {@class = "col-md-2 control-label"})
        <div class="col-md-12">
            @Html.TextBoxFor(m =>m.VigorousTraining, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MuscleTraining, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.MuscleTraining, new {@class = "col-md-2"})
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
   
 }
