@model VirtualWellnessProgram.Models.Customer
@{
    ViewBag.Title = "EditCaptainStatus";
}

<h2>Edit Captain Status for @Model.FirstName</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Change Status</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.FirstName)
        @Html.HiddenFor(m => m.LastName)
        @Html.HiddenFor(m => m.Day)
        @Html.HiddenFor(m => m.CurrentVigorousDuration)
        @Html.HiddenFor(m => m.VigorousNumberToAdd)
        @Html.HiddenFor(m => m.ExercisePending)
        @Html.HiddenFor(m => m.CurrentModerateDuration)
        @Html.HiddenFor(m => m.ModerateNumberToAdd)
        @Html.HiddenFor(m => m.CalorieGoal)
        @Html.HiddenFor(m => m.CurrentCalorieCount)
        @Html.HiddenFor(m => m.CaloriesToAdd)
        @Html.HiddenFor(m => m.CalorieMonthlyPoints)
        @Html.HiddenFor(m => m.CalorieYearlyPoints)
        @Html.HiddenFor(m => m.CaloriesPending)
        @Html.HiddenFor(m => m.ModerateDuration)
        @Html.HiddenFor(m => m.VigorousDuration)
        @Html.HiddenFor(m => m.Achievements)
        @Html.HiddenFor(m => m.ApplicationUserId)
        @Html.HiddenFor(m => m.HealthId)
        @Html.HiddenFor(m => m.GroupId)

        <div class="form-group">
            @Html.LabelFor(model => model.Captain, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Captain)
                    @Html.ValidationMessageFor(model => model.Captain, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

