@model IEnumerable<VirtualWellnessProgram.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthInfo.UniqueCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentVigorousDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VigorousNumberToAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExercisePending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentModerateDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModerateNumberToAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalorieGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentCalorieCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaloriesToAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalorieMonthlyPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalorieYearlyPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaloriesPending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModerateDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VigorousDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Captain)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealthInfo.UniqueCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentVigorousDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VigorousNumberToAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExercisePending)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentModerateDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModerateNumberToAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalorieGoal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentCalorieCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaloriesToAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalorieMonthlyPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalorieYearlyPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaloriesPending)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModerateDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VigorousDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Captain)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
