@model WellnessProject.Models.Calories

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentCalorieCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentCalorieCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaloriesToAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaloriesToAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearlyPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearlyPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pending)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
